### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea/
*.iml
*.iws
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Java ###
*.class
*.jar
!lib/*.jar

### Logs ###
*.log

### Python ###
__pycache__/
*.pyc
venv/
.env

### Model files (opcional) ###
*.h5
*.pkl
*.joblib
*.keras

### Config files with keys ###
config.properties

# Archivos de configuración de JADE
APDescription.txt
MTPs-Main-Container.txt

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties